html {
    scroll-behavior: smooth;
  }
body {
    font-family: Serif;
    margin: 0;
    padding: 5px;
    background-color: #f9f9f9;
    scroll-behavior: smooth;
}

/* hearder styling */
header {
    position: relative;
    
}


.header-svg {
    width: 100%;
    height: 100%;
}

.header-text {
    position: absolute;
    top: 15%; /* Position the text at the top of the header */
    left: 50%; /* Position the text at the horizontal center of the header */
    transform: translate(-50%, -50%);
    color: rgba(72, 91, 118, 0.942);/* Text color */
    z-index: 1; /* Ensure the text is on top of the photo */
    font-family: Serif;
    font-size: 24px;
    fill: #fff;
    font-weight: 300;
}


.header-main-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(72, 91, 118, 0.942); /* Text color */
    z-index: 1; /* Ensure the text is on top of the photo */
    font-family: Serif;
    font-size: 80px;
    fill: #fff;
    font-weight: 300;
}

.header-date {
    position: absolute;
    top: 30%; /* Position the text at the top of the header */
    left: 50%; /* Position the text at the horizontal center of the header */
    transform: translate(-50%, -50%);
    color: rgba(72, 91, 118, 0.942); /* Text color */
    z-index: 1; /* Ensure the text is on top of the photo */
    font-family: Serif;
    font-size: 20px;
    fill: #fff;
    font-weight: 300;
}

.header-photo {
    max-width: 100%; /* Ensure the image does not exceed the width of the header */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space below the image */
    margin: 0 auto 10px; /* Center the image and add some space below */
    z-index: 0; /* Ensure the text is on top of the photo */

}

/* navigation style */


nav {
    position: absolute;
    top: 10%; /* Position the text at the top of the header */
    left: 2%; /* Position the text at the horizontal center of the header */
    display: flex; /* Use flexbox to enable flexible layout */
    flex-direction: row; /* Arrange items in a row */
}

nav a {
    color: rgba(72, 91, 118, 0.942); /* Adjust the color of the navigation links */
    text-decoration: none;
    margin-right: 15px; /* Adjust spacing between navigation links */
}


.language-switch-container {
    position: absolute;
    top: 5%; /* Position the text at the top of the header */
    left: 2%; /* Position the text at the horizontal center of the header */
    color: rgba(72, 91, 118, 0.942); /* Text color */
    display: flex; 
}

/* sections style */

section {
    padding: 30px;
}

#about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.left-container {
    flex: 1;
    padding: 20px;
}

.right-container {
    flex: 1;
    padding: 20px;
}

#circle_yue {
    transition: transform 0.3s ease; /* Add smooth transition effect */
  }
  
  .flipped {
    transform: scaleX(-1);
  }

  #circle_baekgi {
    transition: transform 0.3s ease; /* Add smooth transition effect */
  }
  
  .flipped {
    transform: scaleX(-1);
  }

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 400px;
    height: 400px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 400px;
    height: 400px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #rgb(239, 230, 230);
    color: rgb(239, 230, 230);
  }
  
  /* Style the back side */
  .flip-box-back {
    width: 400px;
    height: 400px;
    background-color: rgba(72, 91, 118, 0.942);
    color: white;
    transform: rotateY(180deg);
  }

/* Style the gallery*/
.gallery{
    width: 100%;
    display:flex;
    overflow-x: scroll;
}

.gallery div{
    width: 100%;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap:5px;
    padding: 2px;
    flex:none;
}

.gallery div img {
    
    width: 100%;
  height: auto;
    white-space: nowrap; /* Prevent images from wrapping to the next line */
}


footer {
    background-color: rgba(72, 91, 118, 0.942);
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}


@media only screen and (max-width: 600px) {
  .header-photo {
      /* Adjust styles for smaller screens */
      max-width: 100%;
      
  }

  body {
    font-size: 14px; /* Adjust the font size for smaller screens */
}

}